header {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
  margin-bottom: 1em;
}

body {
  font-size: 18px;
}

header {
  font-size: 20px;
}

header p {
  font-size: 2rem;
}

header p em {
  font-size: 2rem;
}


h1, h2 {
  font-family: 'Papyrus';
}

/* h2 {
  font-family: 'Papyrus';
} */


h2 {
  color: rebeccapurple;
}

p {
  font-size: 18px;
}

header p {
  /* background-color: yellow; */
}

img {
  max-height: 150px;
  border-radius: 20px;
  background-color: white;
}

a:hover {
  font-size: 3em;
}

/* elements with class="about-section" */
.about-section {
  background-color: #eee;
  padding: .25em .5em;
}